<ion-view view-title="Reandy">  
	<ion-content>
		<!-- Google Maps Container -->
		<div id="map" data-tap-disabled="true"></div>
		<!-- Footer Bar -->
		<ion-footer-bar class="bar">
			<div class="row" side="left">
				<div class="col">
					<img class="tam-img button button-clear ion-navicon"  ng-click="toggleLeft()" src="img/Kaffe-img/-_menu-favorite.png">
				</div>
				<div class="col"></div>
				<div>
					<img class="tam-img" src="img/Kaffe-img/-_menu-25.png">
				</div>
			</div>
		</ion-footer-bar>
  </ion-content>
</ion-view>
